@if (items.length === 0) {
    There are no wishes to display.
  }
  @else {
    @for (item of items; track item; let i = $index) {
      <li class="wish-list">
        <div class="form-check">
          <label class="form-check-label">
            <input class="checkbox" 
            type="checkbox" 
            [checked]="item.isComplete"
            [attr.data-index]="i"
            (click)="toggleItem(item)"
            > {{item.wishText}}
          </label>
        </div>
      </li>
    }
  }